body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #007eb9;
    color: white;
    padding: 20px;
    text-align: center;
}
#storeSelect, #searchInput, button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}
button {
    background-color: #ff9900;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #e68a00;
}
#productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}
.product {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(33.333% - 20px); /* Ajuste para tres productos por fila con espacio entre ellos */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.product img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
h3 {
    color: #333;
    margin-top: 0;
}

